.logo{
    img{
        height: 1.66666rem;
        display: grid;
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
 
 p {
     font-size: 3em;
     color: #565656;
     width: 100%;
     text-align: center;
 }